/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */


/* Styling Next and Prev buttons */

.owl-buttons {
    text-align: right;
}

.owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
    margin: 5px 0px 5px 10px;
    padding: 3px 10px;
    font-size: 40px;
    /*background: #0D3E66;*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-controls.clickable .owl-buttons div:hover {
    /*background: #E5B029;*/
    text-decoration: none;
}

.owl-next:before {
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 1;
    display: inline-block;
    content: '\f105';
    border-radius: 0;
}

.owl-prev:before {
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 1;
    display: inline-block;
    content: '\f104';
    border-radius: 0;
}




/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* display none until init */
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    margin: 10px 2px 5px 2px;
    text-align:start;
    background-color:#fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    float: left;
    border-radius: 5px;
    height: 421px;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -75px;
    right: 0px;
}

/* mouse grab icon */
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}


#owl-demo .item {
    margin: 0px 10px;

}

.image-black {
    margin: 0px;
    /*just space white border*/
}

#owl-demo .item img {

    display: block;
    height: auto;
    width: 100%;
}